{% extends 'base.html' %}
{% load static %}

{% block custom_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/hosps.css' %}">
{% endblock %}

{% block content %}
	<div class="container body_color">

		<div class="container  projectDetails text-center">
	    	<h1 class="lead">تمتلك شركة التبارك سابقة اعمال كبيرة في مجال بناء وتطوير البنوك الحكومية في معظم محافظات مصر</h1>
			<i class="far fa-building fa-4x"></i>
			<p><span>عدد البنوك  : </span> 11 </p>
	 	</div>

	 	<hr>
	 	<!-- Start Benha Porject -->
	 	<div class="container">

	 		<!-- Start Qna Porject -->
	 		<div class="row mymargin">

					<div class="col-md">
						<div id="main_vedio">
				  			<div class="responsive">

				  			<iframe width="560" height="315" src="https://www.youtube.com/embed/yN9RHubrKd4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

							</div>
						</div>
					</div>

		 		<div class="col-md" id="mydata">
					<h2>مخازن البنك الاهلى
					</h2>
					<p class="lead">طبيعة المشروع : <span>انشاء</span></p>
					<p class="lead">الجهة المالكة : <span>البنك الاهلى المصرى
					</span></p>
					<p class="lead">الاستشارى : <span>المكتب الاستشارة حسين صبور
					</span></p>
					<p class="lead">الحاله التنفيذية : <span>جارى التنفيذ</span></p>
				</div>
	 		</div>
	 		<!-- End Qna Porject -->
	 		<hr>

	 		<div class="row mymargin">

					<div class="col-md">
						<div id="main_vedio">
				  			<div class="responsive">

				  			<iframe width="560" height="315" src="https://www.youtube.com/embed/yN9RHubrKd4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

							</div>
						</div>
					</div>

		 		<div class="col-md" id="mydata">
					<h2>إنشاء البنك الأهلى فرع سوهاج
					</h2>
					<p class="lead">طبيعة المشروع : <span>انشاء</span></p>
					<p class="lead">الجهة المالكة : <span>البنك الأهلى المصرى
					</span></p>
					<p class="lead">الاستشارى : <span>محرم - باخوم
					</span></p>
					<p class="lead">الحاله التنفيذية : <span>تم التنفيذ</span></p>
				</div>

	 		</div>
	 		<!-- End Benha Porject -->
	 		<hr>
	 		<!-- Start Qna Porject -->
	 		<div class="row mymargin">

					<div class="col-md">
						<div id="main_vedio">
				  			<div class="responsive">

				  			<iframe width="560" height="315" src="https://www.youtube.com/embed/yN9RHubrKd4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

							</div>
						</div>
					</div>

		 		<div class="col-md" id="mydata">
					<h2>تجديد وتطوير بنك مصر فرع عباس العقاد
					</h2>
					<p class="lead">طبيعة المشروع : <span>تجديد وتطوير</span></p>
					<p class="lead">الجهة المالكة : <span>بنك مصر
					</span></p>
					<p class="lead">الاستشارى : <span>الإدارة الهندسية بالبنك
					</span></p>
					<p class="lead">الحاله التنفيذية : <span>تم التنفيذ </span></p>
				</div>
	 		</div>
	 		<!-- End Qna Porject -->
	 		<hr>
	 		<!-- Start Sohag Porject -->
	 		<div class="row mymargin">

					<div class="col-md">
						<div id="main_vedio">
				  			<div class="responsive">

				  			<iframe width="560" height="315" src="https://www.youtube.com/embed/yN9RHubrKd4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

							</div>
						</div>
					</div>

		 		<div class="col-md" id="mydata">
					<h2>إعداد وتجهيز الوحدة المصرفية بشارع مكرم عبيد</h2>
					<p class="lead">طبيعة المشروع : <span>اعداد وتجهيز</span></p>
					<p class="lead">الجهة المالكة : <span>البنك الاهلى المصرى</span></p>
					<p class="lead">الاستشارى : <span>المجموعه الاستشارية المتكاملة </span></p>
					<p class="lead">الحاله التنفيذية : <span>تم التنفيذ</span></p>
				</div>
	 		</div>
	 		<!-- End Sohag Porject -->
	 		<hr>
	 		<!-- Start Agricultural sector Porject -->
	 		<div class="row mymargin">

					<div class="col-md">
						<div id="main_vedio">
				  			<div class="responsive">

				  			<iframe width="560" height="315" src="https://www.youtube.com/embed/yN9RHubrKd4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

							</div>
						</div>
					</div>

		 		<div class="col-md" id="mydata">
					<h2>إنشاء البنك الاهلى فرع شلاتين</h2>
					<p class="lead">طبيعة المشروع : <span>انشاء</span></p>
					<p class="lead">الجهة المالكة : <span>البنك الاهلى المصرى
					</span></p>
					<p class="lead">الاستشارى : <span>مكتب الاستشارات الفنية السهلى – الصاوى
					</span></p>
					<p class="lead">الحاله التنفيذية : <span>تم التنفيذ</span></p>
				</div>
	 		</div>
	 		<!-- End Agricultural sector Porject -->
	 		<hr>
	 		<!-- Start Police Cairo Porject -->
	 		<div class="row mymargin">

					<div class="col-md">
						<div id="main_vedio">
				  			<div class="responsive">

				  			<iframe width="560" height="315" src="https://www.youtube.com/embed/yN9RHubrKd4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

							</div>
						</div>
					</div>

		 		<div class="col-md" id="mydata">
					<h2>تنفيذ الاعمال العاجلة المطلوبة لتطوير محطة الكهرباء العمومية بمبنى فيصل</h2>
					<p class="lead">طبيعة المشروع : <span>تطوير</span></p>
					<p class="lead">الجهة المالكة : <span>البنك الاهلى المصرى
					</span></p>
					<p class="lead">الاستشارى : <span>المكتب العلمى للهندسة الكهروميكانيكية
					</span></p>
					<p class="lead">الحاله التنفيذية : <span>تم التنفيذ</span></p>
				</div>
	 		</div>
	 		<!-- End Police Cairo Porject -->
	 		<hr>
	 		<!-- Start Police Alex Porject -->
	 		<div class="row mymargin">

					<div class="col-md">
						<div id="main_vedio">
				  			<div class="responsive">

				  			<iframe width="560" height="315" src="https://www.youtube.com/embed/yN9RHubrKd4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

							</div>
						</div>
					</div>

		 		<div class="col-md" id="mydata">
					<h2>تجديد وتطوير بنك مصر – فرع الفيوم </h2>
					<p class="lead">طبيعة المشروع : <span>تجديد وتطوير</span></p>
					<p class="lead">الجهة المالكة : <span>بنك مصر</span></p>
					<p class="lead">الاستشارى : <span>الهيئة الهندسية بالبنك</span></p>
					<p class="lead">الحاله التنفيذية : <span>تم التنفيذ</span></p>
				</div>
	 		</div>
	 		<!-- End Police Alex Porject -->
	 		<hr>
	 		<!-- Start Police For army Porject -->
	 		<div class="row mymargin">

					<div class="col-md">
						<div id="main_vedio">
				  			<div class="responsive">

				  			<iframe width="560" height="315" src="https://www.youtube.com/embed/yN9RHubrKd4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

							</div>
						</div>
					</div>

		 		<div class="col-md" id="mydata">
					<h2>تجديد وتوسعة وتطوير البنك الاهلى فرع النزهه</h2>
					<p class="lead">طبيعة المشروع : <span>تطوير</span></p>
					<p class="lead">الجهة المالكة : <span>البنك الاهلى المصرى</span></p>
					<p class="lead">الاستشارى : <span>المجموعة الاستشارية المتكاملة</span></p>
					<p class="lead">الحاله التنفيذية : <span>تم التنفيذ</span></p>
				</div>
	 		</div>
	 		<!-- End Police For army Porject -->
	 		<hr>
	 		<!-- Start Balaqs Porject -->
	 		<div class="row mymargin">

					<div class="col-md">
						<div id="main_vedio">
				  			<div class="responsive">

				  			<iframe width="560" height="315" src="https://www.youtube.com/embed/yN9RHubrKd4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

							</div>
						</div>
					</div>

		 		<div class="col-md" id="mydata">
					<h2>البنك الاهلى فرع ميت غمر</h2>
					<p class="lead">طبيعة المشروع : <span>انشاء</span></p>
					<p class="lead">الجهة المالكة : <span>البنك الاهلى المصرى</span></p>
					<p class="lead">الاستشارى : <span>مجموعة النور الاستشارية </span></p>
					<p class="lead">الحاله التنفيذية : <span>تم التنفيذ</span></p>
				</div>
	 		</div>
	 		<!-- End Balaqs Porject -->
	 		<hr>
	 		<!-- Start Eltagamo3 El 5ames Porject -->
	 		<div class="row mymargin">

					<div class="col-md">
						<div id="main_vedio">
				  			<div class="responsive">

				  			<iframe width="560" height="315" src="https://www.youtube.com/embed/yN9RHubrKd4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

							</div>
						</div>
					</div>

		 		<div class="col-md" id="mydata">
					<h2>إنشاء الوحدة الصحية والمسجد بالتجمع الخامس</h2>
					<p class="lead">طبيعة المشروع : <span>انشاء</span></p>
					<p class="lead">الجهة المالكة : <span>شركة مصر إدارة الاصول العقارية </span></p>
					<p class="lead">الاستشارى : <span>مكتب بوديوم اسشتارى المشروع
السيد المهندس /محسن لبيب
</span></p>
					<p class="lead">الحاله التنفيذية : <span>تم التنفيذ</span></p>
				</div>
	 		</div>
	 		<!-- End Eltagamo3 El 5ames Porject -->
	 		<hr>

	 		<div class="row mymargin">

					<div class="col-md">
						<div id="main_vedio">
				  			<div class="responsive">

				  			<video controls width="560" height="315">
					  			<source src="../../static/videos/test.mp4" type="video/mp4">
					  			<source src="../../static/videos/test.ogg" type="video/ogg">
								Your browser does not support the video tag.
							</video>

							</div>
						</div>
					</div>

		 		<div class="col-md" id="mydata">
					<h2>اعداد وتجهيز الوحدة المصرفية الجديدة بشارع خاتم المرسلين - الهرم</h2>
					<p class="lead">طبيعة المشروع : <span>تطوير</span></p>
					<p class="lead">الجهة المالكة : <span>البنك الاهلى المصرى </span></p>
					<p class="lead">الاستشارى : <span>شركة معمار للأستشارات الهندسية </span></p>
					<p class="lead">الحاله التنفيذية : <span>تم التنفيذ</span></p>
				</div>
	 		</div>

	 		<hr>

	 		<div class="row mymargin">

					<div class="col-md">
						<div id="main_vedio">
				  			<div class="responsive">

				  			<video controls width="560" height="315">
					  			<source src="../../static/videos/test.mp4" type="video/mp4">
					  			<source src="../../static/videos/test.ogg" type="video/ogg">
								Your browser does not support the video tag.
							</video>

							</div>
						</div>
					</div>

		 		<div class="col-md" id="mydata">
					<h2>اعداد وتجهيز الوحدة المصرفية الجديدة بشارع خاتم المرسلين - الهرم</h2>
					<p class="lead">طبيعة المشروع : <span>تطوير</span></p>
					<p class="lead">الجهة المالكة : <span>البنك الاهلى المصرى </span></p>
					<p class="lead">الاستشارى : <span>شركة معمار للأستشارات الهندسية </span></p>
					<p class="lead">الحاله التنفيذية : <span>تم التنفيذ</span></p>
				</div>
	 		</div>

	 	</div>
	</div>
{% endblock %}
