{% extends 'base.html' %}
{% load static %}

{% block custom_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/hosps.css' %}">
{% endblock %}

{% block content %}
	<div class="container body_color">

		<div class="container  projectDetails text-center">
	    	<h1 class="lead">تمتلك شركة التبارك سابقة اعمال كبيرة في مجال بناء وتطوير المستشفيات</h1>
			<i class="far fa-hospital fa-4x"></i>
			<p><span>عدد المستشفيات  : </span> 12 </p>
	 	</div>

	 	<hr>
	 	<!-- Start Benha Porject -->
	 	<div class="container">
	 		<div class="row mymargin">

					<div class="col-md">
						<div id="main_vedio">
				  			<div class="responsive">

				  			<iframe width="560" height="315" src="https://www.youtube.com/embed/yN9RHubrKd4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

							</div>
						</div>
					</div>

		 		<div class="col-md" id="mydata">
					<h2>استكمال مبني مستشفي بنها للتامين الصحي الجديد
					</h2>
					<p class="lead">طبيعة المشروع : <span>انشاء و استكمال</span></p>
					<p class="lead">الجهة المالكة : <span>الهيئة القومية للتامين الصحي فرع القليوبية
					</span></p>
					<p class="lead">الاستشارى : <span>مكتب دكتور احمد مسعود
					</span></p>
					<p class="lead">الحاله التنفيذية : <span>جارى التنفيذ</span></p>
				</div>

	 		</div>
	 		<!-- End Benha Porject -->
	 		<hr>
	 		<!-- Start Qna Porject -->
	 		<div class="row mymargin">

					<div class="col-md">
						<div id="main_vedio">
				  			<div class="responsive">

				  			<iframe width="560" height="315" src="https://www.youtube.com/embed/yN9RHubrKd4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

							</div>
						</div>
					</div>

		 		<div class="col-md" id="mydata">
					<h2>مستشفى 175 سرير بمنطقة النوادى بمدينة قنا الجديدة
					</h2>
					<p class="lead">طبيعة المشروع : <span>تطوير وصيانة</span></p>
					<p class="lead">الجهة المالكة : <span>وزارة الاسكان والتنمية العمرانية
					</span></p>
					<p class="lead">الاستشارى : <span>المهندسون الاستشاريون المصريون
					</span></p>
					<p class="lead">الحاله التنفيذية : <span>جارى التنفيذ</span></p>
				</div>
	 		</div>
	 		<!-- End Qna Porject -->
	 		<hr>
	 		<!-- Start Sohag Porject -->
	 		<div class="row mymargin">

					<div class="col-md">
						<div id="main_vedio">
				  			<div class="responsive">

				  			<iframe width="560" height="315" src="https://www.youtube.com/embed/yN9RHubrKd4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

							</div>
						</div>
					</div>

		 		<div class="col-md" id="mydata">
					<h2>مستشفي التأمين الصحي بالفيوم</h2>
					<p class="lead">طبيعة المشروع : <span>تطوير وصيانة</span></p>
					<p class="lead">الجهة المالكة : <span>الهيئة العامة للتأمين الصحي – فرع الفيوم</span></p>
					<p class="lead">الاستشارى : <span>مكتب الشامي للاستشارات الهندسية</span></p>
					<p class="lead">الحاله التنفيذية : <span>تم التنفيذ</span></p>
				</div>
	 		</div>
	 		<!-- End Sohag Porject -->
	 		<hr>
	 		<!-- Start Agricultural sector Porject -->
	 		<div class="row mymargin">

					<div class="col-md">
						<div id="main_vedio">
				  			<div class="responsive">

				  			<iframe width="560" height="315" src="https://www.youtube.com/embed/yN9RHubrKd4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

							</div>
						</div>
					</div>

		 		<div class="col-md" id="mydata">
					<h2>مستشفى الزراعيين</h2>
					<p class="lead">طبيعة المشروع : <span>انشاء</span></p>
					<p class="lead">الجهة المالكة : <span>وزارة الزراعة – مستشفي الزراعيين
					</span></p>
					<p class="lead">الاستشارى : <span>مكتب أ.د. عصام عوض
					</span></p>
					<p class="lead">الحاله التنفيذية : <span>تم التنفيذ</span></p>
				</div>
	 		</div>
	 		<!-- End Agricultural sector Porject -->
	 		<hr>
	 		<!-- Start Police Cairo Porject -->
	 		<div class="row mymargin">

					<div class="col-md">
						<div id="main_vedio">
				  			<div class="responsive">

				  			<iframe width="560" height="315" src="https://www.youtube.com/embed/yN9RHubrKd4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

							</div>
						</div>
					</div>

		 		<div class="col-md" id="mydata">
					<h2>مستشفى الشرطة بالعجوزة</h2>
					<p class="lead">طبيعة المشروع : <span>انشاء</span></p>
					<p class="lead">الجهة المالكة : <span>شركة الجيزة العامة للمقاولات والاستثمار العقاري
					</span></p>
					<p class="lead">الاستشارى : <span>المجموعة المصرية د.محمد نعيم
					</span></p>
					<p class="lead">الحاله التنفيذية : <span>تم التنفيذ</span></p>
				</div>
	 		</div>
	 		<!-- End Police Cairo Porject -->
	 		<hr>
	 		<!-- Start Police Alex Porject -->
	 		<div class="row mymargin">

					<div class="col-md">
						<div id="main_vedio">
				  			<div class="responsive">

				  			<iframe width="560" height="315" src="https://www.youtube.com/embed/yN9RHubrKd4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

							</div>
						</div>
					</div>

		 		<div class="col-md" id="mydata">
					<h2>مستشفى الشرطة بالإسكندرية</h2>
					<p class="lead">طبيعة المشروع : <span>انشاء</span></p>
					<p class="lead">الجهة المالكة : <span>مجموعة شركة الفتح للاستشارات والمشروعات</span></p>
					<p class="lead">الاستشارى : <span>د . عبد الباقي ابراهيم</span></p>
					<p class="lead">الحاله التنفيذية : <span>تم التنفيذ</span></p>
				</div>
	 		</div>
	 		<!-- End Police Alex Porject -->
	 		<hr>
	 		<!-- Start Police For army Porject -->
	 		<div class="row mymargin">

					<div class="col-md">
						<div id="main_vedio">
				  			<div class="responsive">

				  			<iframe width="560" height="315" src="https://www.youtube.com/embed/yN9RHubrKd4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

							</div>
						</div>
					</div>

		 		<div class="col-md" id="mydata">
					<h2>مستشفي الشرطة للمجندين</h2>
					<p class="lead">طبيعة المشروع : <span>انشاء</span></p>
					<p class="lead">الجهة المالكة : <span>وزارة الداخلية
قطاع الخدمات الطبية</span></p>
					<p class="lead">الاستشارى : <span>بيت الخبرة الهندسية
عفيفي للاستشارات الهندسية
</span></p>
					<p class="lead">الحاله التنفيذية : <span>تم التنفيذ</span></p>
				</div>
	 		</div>
	 		<!-- End Police For army Porject -->
	 		<hr>
	 		<!-- Start Balaqs Porject -->
	 		<div class="row mymargin">

					<div class="col-md">
						<div id="main_vedio">
				  			<div class="responsive">

				  			<iframe width="560" height="315" src="https://www.youtube.com/embed/yN9RHubrKd4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

							</div>
						</div>
					</div>

		 		<div class="col-md" id="mydata">
					<h2>مستشفى بلقس</h2>
					<p class="lead">طبيعة المشروع : <span>انشاء</span></p>
					<p class="lead">الجهة المالكة : <span>مديرية الاسكان والمرافق بالقليوبية</span></p>
					<p class="lead">الاستشارى : <span>الادارة الهندسية بالوزارة</span></p>
					<p class="lead">الحاله التنفيذية : <span>تم التنفيذ</span></p>
				</div>
	 		</div>
	 		<!-- End Balaqs Porject -->
	 		<hr>
	 		<!-- Start Eltagamo3 El 5ames Porject -->
	 		<div class="row mymargin">

					<div class="col-md">
						<div id="main_vedio">
				  			<div class="responsive">

				  			<iframe width="560" height="315" src="https://www.youtube.com/embed/yN9RHubrKd4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

							</div>
						</div>
					</div>

		 		<div class="col-md" id="mydata">
					<h2>إنشاء الوحدة الصحية والمسجد بالتجمع الخامس</h2>
					<p class="lead">طبيعة المشروع : <span>انشاء</span></p>
					<p class="lead">الجهة المالكة : <span>شركة مصر إدارة الاصول العقارية </span></p>
					<p class="lead">الاستشارى : <span>مكتب بوديوم اسشتارى المشروع
السيد المهندس /محسن لبيب
</span></p>
					<p class="lead">الحاله التنفيذية : <span>تم التنفيذ</span></p>
				</div>
	 		</div>
	 		<!-- End Eltagamo3 El 5ames Porject -->
	 		<hr>

	 		<div class="row mymargin">

					<div class="col-md">
						<div id="main_vedio">
				  			<div class="responsive">

				  			<video controls width="560" height="315">
					  			<source src="../../static/videos/test.mp4" type="video/mp4">
					  			<source src="../../static/videos/test.ogg" type="video/ogg">
								Your browser does not support the video tag.
							</video>

							</div>
						</div>
					</div>

		 		<div class="col-md" id="mydata">
					<h2>مستشفي التأمين الصحي بالفيوم</h2>
					<p class="lead">طبيعة المشروع : <span>تطوير وصيانة</span></p>
					<p class="lead">الجهة المالكة : <span>الهيئة العامة للتأمين الصحي – فرع الفيوم</span></p>
					<p class="lead">الاستشارى : <span>مكتب الشامي للاستشارات الهندسية</span></p>
					<p class="lead">الحاله التنفيذية : <span>تم التنفيذ</span></p>
				</div>
	 		</div>

	 	</div>
	</div>
{% endblock %}
