{% extends 'base.html' %}
{% load static %}

{% block custom_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/hosp.css' %}">
{% endblock %}

{% block content %}
	<div class="container body_color">

		<div class="container  projectDetails text-center">
	    	<h1 class="lead">تمتلك شركة التبارك سابقة اعمال كبيرة في مجال بناء وتطوير المبانى الإدارية والحكومية والمنشآت العامة</h1>
			<i class="fas fa-balance-scale fa-4x"></i>
			<p><span>عدد المنشأت العامه  : </span> 10 </p>
	 	</div>

	 	<hr>
	 	<!-- Start Benha Porject -->
	 	<div class="container">

	 		<!-- Start Qna Porject -->
	 		<div class="row mymargin">

					<div class="col-md">
						<div id="main_vedio">
				  			<div class="responsive">
				  				
				  			<iframe width="560" height="315" src="https://www.youtube.com/embed/yN9RHubrKd4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				  		
							</div>
						</div>
					</div>

		 		<div class="col-md" id="mydata">
					<h2>فندق جاردينيا
					</h2>
					<p class="lead">طبيعة المشروع : <span>انشاء</span></p>
					<p class="lead">الجهة المالكة : <span>الهيئة الهندسية للقوات المسلحة
					</span></p>
					<p class="lead">الاستشارى : <span>الهيئة الهندسية للقوات المسلحة 
					</span></p>
					<p class="lead">الحاله التنفيذية : <span>جارى التنفيذ</span></p>
				</div>	
	 		</div>
	 		<!-- End Qna Porject -->

	 		<hr>

	 			 		<div class="row mymargin">

					<div class="col-md">
						<div id="main_vedio">
				  			<div class="responsive">
				  				
				  			<video controls width="560" height="315">
					  			<source src="../../static/videos/test.mp4" type="video/mp4">
					  			<source src="../../static/videos/test.ogg" type="video/ogg">
								Your browser does not support the video tag.
							</video>
				  		
							</div>
						</div>
					</div>

		 		<div class="col-md" id="mydata">
					<h2>مول الشيخ الزايد – 6 اكتوبر</h2>
					<p class="lead">طبيعة المشروع : <span>إنشاء</span></p>
					<p class="lead">الجهة المالكة : <span>الشركة المصرية لتجارة الجمله</span></p>
					<p class="lead">الاستشارى : <span>د/ استشارى محمد صلاح سليمان</span></p>
					<p class="lead">الحاله التنفيذية : <span>جارى التنفيذ</span></p>
				</div>	
	 		</div> 	

	 		<hr>

	 		<div class="row mymargin">

					<div class="col-md">
						<div id="main_vedio">
				  			<div class="responsive">
				  				
				  			<iframe width="560" height="315" src="https://www.youtube.com/embed/yN9RHubrKd4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				  		
							</div>
						</div>
					</div>

		 		<div class="col-md" id="mydata">
					<h2>مبنى قطاع الكتب
					</h2>
					<p class="lead">طبيعة المشروع : <span>انشاء</span></p>
					<p class="lead">الجهة المالكة : <span>الهيئة العامة للابنية التعليمية
					</span></p>
					<p class="lead">الاستشارى : <span>الهيئة العامة للابنية التعليمية
					</span></p>
					<p class="lead">الحاله التنفيذية : <span>تم التنفيذ</span></p>
				</div>	

	 		</div>
	 		<!-- End Benha Porject -->
	 		<hr>
	 		<!-- Start Qna Porject -->
	 		<div class="row mymargin">

					<div class="col-md">
						<div id="main_vedio">
				  			<div class="responsive">
				  				
				  			<iframe width="560" height="315" src="https://www.youtube.com/embed/yN9RHubrKd4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				  		
							</div>
						</div>
					</div>

		 		<div class="col-md" id="mydata">
					<h2>شركة الأدوية ببنها
					</h2>
					<p class="lead">طبيعة المشروع : <span>تجديد وتطوير</span></p>
					<p class="lead">الجهة المالكة : <span>الشركة المصرية لتجارة الادوية
					</span></p>
					<p class="lead">الاستشارى : <span>م. إستشارى/ فؤاد أنور خلة
					</span></p>
					<p class="lead">الحاله التنفيذية : <span>تم التنفيذ </span></p>
				</div>	
	 		</div>
	 		<!-- End Qna Porject -->
	 		<hr>
	 		<!-- Start Sohag Porject -->
	 		<div class="row mymargin">

					<div class="col-md">
						<div id="main_vedio">
				  			<div class="responsive">
				  				
				  			<iframe width="560" height="315" src="https://www.youtube.com/embed/yN9RHubrKd4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				  		
							</div>
						</div>
					</div>

		 		<div class="col-md" id="mydata">
					<h2>انشاء مبنى ادارى للمنطقة الحرة الاعلامية</h2>
					<p class="lead">طبيعة المشروع : <span>إنشاء</span></p>
					<p class="lead">الجهة المالكة : <span>الهيئة العامة للاستثمار</span></p>
					<p class="lead">الاستشارى : <span>الادارة الهندسية بالهيئة </span></p>
					<p class="lead">الحاله التنفيذية : <span>تم التنفيذ</span></p>
				</div>	
	 		</div>
	 		<!-- End Sohag Porject -->
	 		<hr>
	 		<!-- Start Agricultural sector Porject -->
	 		<div class="row mymargin">

					<div class="col-md">
						<div id="main_vedio">
				  			<div class="responsive">
				  				
				  			<iframe width="560" height="315" src="https://www.youtube.com/embed/yN9RHubrKd4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				  		
							</div>
						</div>
					</div>

		 		<div class="col-md" id="mydata">
					<h2>شركة القاهرة لتكرير البترول</h2>
					<p class="lead">طبيعة المشروع : <span>إستكمال توريد وتركيب أرضيات رخام وجرانيت وتكسيات
سلالم وحوائط داخلية وخارجية لمبنى الحاسب الالى</span></p>
					<p class="lead">الجهة المالكة : <span>شركة القاهرة لتكرير البترول
					</span></p>
					<p class="lead">الاستشارى : <span>الادارة العامة للهندسة المدنية
					</span></p>
					<p class="lead">الحاله التنفيذية : <span>تم التنفيذ</span></p>
				</div>	
	 		</div>
	 		<!-- End Agricultural sector Porject -->
	 		<hr>
	 		<!-- Start Police Cairo Porject -->
	 		<div class="row mymargin">

					<div class="col-md">
						<div id="main_vedio">
				  			<div class="responsive">
				  				
				  			<iframe width="560" height="315" src="https://www.youtube.com/embed/yN9RHubrKd4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				  		
							</div>
						</div>
					</div>

		 		<div class="col-md" id="mydata">
					<h2>ركن الشباب بنادى 6 أكتوبر</h2>
					<p class="lead">طبيعة المشروع : <span>إنشاء</span></p>
					<p class="lead">الجهة المالكة : <span>نادى 6 اكتوبر
					</span></p>
					<p class="lead">الاستشارى : <span>مكتب الإستشارات المعمارية والتخطيطية
د /طارق عبد اللطيف
					</span></p>
					<p class="lead">الحاله التنفيذية : <span>تم التنفيذ</span></p>
				</div>	
	 		</div>
	 		<!-- End Police Cairo Porject -->
	 		<hr>
	 		<!-- Start Police Alex Porject -->
	 		<div class="row mymargin">

					<div class="col-md">
						<div id="main_vedio">
				  			<div class="responsive">
				  				
				  			<iframe width="560" height="315" src="https://www.youtube.com/embed/yN9RHubrKd4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				  		
							</div>
						</div>
					</div>

		 		<div class="col-md" id="mydata">
					<h2>مبنى الإدارة التعليمية – إدارة وسط الجيزة</h2>
					<p class="lead">طبيعة المشروع : <span>إنشاء</span></p>
					<p class="lead">جهة الاسناد : <span>شركة الجيزة العامة للمقاولات والإستثمار العقارى</span></p>
					<p class="lead">الاستشارى : <span>الإدارة الهندسية بالشركة</span></p>
					<p class="lead">الحاله التنفيذية : <span>تم التنفيذ</span></p>
				</div>	
	 		</div>
	 		<!-- End Police Alex Porject -->
	 		<hr>
	 		<!-- Start Police For army Porject -->
	 		<div class="row mymargin">

					<div class="col-md">
						<div id="main_vedio">
				  			<div class="responsive">
				  				
				  			<iframe width="560" height="315" src="https://www.youtube.com/embed/yN9RHubrKd4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				  		
							</div>
						</div>
					</div>

		 		<div class="col-md" id="mydata">
					<h2>مبنى الافواج السياحية</h2>
					<p class="lead">طبيعة المشروع : <span>إنشاء</span></p>
					<p class="lead">الجهة المالكة : <span>وزارة الداخلية</span></p>
					<p class="lead">الاستشارى : <span>مركز الدراسات التخطيطية والمعمارية</span></p>
					<p class="lead">الحاله التنفيذية : <span>تم التنفيذ</span></p>
				</div>	
	 		</div>
	 		<!-- End Police For army Porject -->
	 		<hr>
	 		<!-- Start Balaqs Porject -->
	 		<div class="row mymargin">

					<div class="col-md">
						<div id="main_vedio">
				  			<div class="responsive">
				  				
				  			<iframe width="560" height="315" src="https://www.youtube.com/embed/yN9RHubrKd4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				  		
							</div>
						</div>
					</div>

		 		<div class="col-md" id="mydata">
					<h2>محكمة أبو كبير بالشرقية</h2>
					<p class="lead">طبيعة المشروع : <span>انشاء</span></p>
					<p class="lead">الجهة المالكة : <span>وزارة العدل</span></p>
					<p class="lead">الاستشارى : <span>المهندسون الإستشاريون عبد المعز حسين، محمد المهدى حجازى</span></p>
					<p class="lead">الحاله التنفيذية : <span>تم التنفيذ</span></p>
				</div>	
	 		</div>
	 		<!-- End Balaqs Porject -->
	 		<hr>
	 		<!-- Start Eltagamo3 El 5ames Porject -->
	 		<div class="row mymargin">

					<div class="col-md">
						<div id="main_vedio">
				  			<div class="responsive">
				  				
				  			<iframe width="560" height="315" src="https://www.youtube.com/embed/yN9RHubrKd4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				  		
							</div>
						</div>
					</div>

		 		<div class="col-md" id="mydata">
					<h2>ترميم وتطوير محكمة الأسرة بالكيت كات</h2>
					<p class="lead">طبيعة المشروع : <span>تطوير</span></p>
					<p class="lead">الجهة المالكة : <span>وزارة العدل</span></p>
					<p class="lead">الاستشارى : <span>أ.د/ حمدى شاهين
</span></p>
					<p class="lead">الحاله التنفيذية : <span>تم التنفيذ</span></p>
				</div>	
	 		</div>
	 		<!-- End Eltagamo3 El 5ames Porject -->
	 	</div>
	</div>
{% endblock %}