{% extends 'base.html' %}
{% load static %}

{% block custom_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/hosps.css' %}">
{% endblock %}

{% block content %}
	<div class="container body_color">

		<div class="container  projectDetails text-center">
      <h1 class="lead">تمتلك شركة التبارك سابقة اعمال فى مجال بناء و تطوير المشاريع السكنية</h1>
      <i class="fas fa-home fa-4x"></i>
			<p><span>عدد المشاريع السكنية : </span> 18 </p>
	 	</div>

	 	<hr>
	 	<!-- Start Benha Porject -->
	 	<div class="container">

	 		<!-- Start  Porject -->
	 		<div class="row mymargin">

					<div class="col-md">
						<div id="main_vedio">
				  			<div class="responsive">

				  			<iframe width="560" height="315" src="https://www.youtube.com/embed/yN9RHubrKd4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

							</div>
						</div>
					</div>

		 		<div class="col-md" id="mydata">
					<h2>اربعة و عشرون عمارة سكن مصر التجمع الخامس</h2>
					<p class="lead">طبيعة المشروع : <span>انشاء</span></p>
					<p class="lead">الجهة المالكة : <span>1</span></p>
					<p class="lead">الاستشارى : <span>1</span></p>
					<p class="lead">الحاله التنفيذية : <span>جارى التنفيذ</span></p>
				</div>
	 		</div>
	 		<!-- End  Porject -->
      <hr>
      <!-- Start  Porject -->
      <div class="row mymargin">

          <div class="col-md">
            <div id="main_vedio">
                <div class="responsive">

                <iframe width="560" height="315" src="https://www.youtube.com/embed/yN9RHubrKd4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

              </div>
            </div>
          </div>

        <div class="col-md" id="mydata">
          <h2>عمارات التعمير خاصة بشركة التعمير و الاستشارات الهندسية نموذج ب  - ج</h2>
          <p class="lead">طبيعة المشروع : <span>انشاء</span></p>
          <p class="lead">الجهة المالكة : <span>شركة التعمير و الاستشارات الهندسية</span></p>
          <p class="lead">الاستشارى : <span>شركة التعمير و الاستشارات الهندسية</span></p>
          <p class="lead">الحاله التنفيذية : <span>جارى التنفيذ</span></p>
        </div>
      </div>
      <!-- End  Porject -->
      <hr>
      <!-- Start  Porject -->
      <div class="row mymargin">

          <div class="col-md">
            <div id="main_vedio">
                <div class="responsive">

                <iframe width="560" height="315" src="https://www.youtube.com/embed/yN9RHubrKd4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

              </div>
            </div>
          </div>

        <div class="col-md" id="mydata">
          <h2>عمارات حى الواحة - مدينة نصر</h2>
          <p class="lead">طبيعة المشروع : <span>انشاء</span></p>
          <p class="lead">الجهة المالكة : <span>شركة مدينة نصر للاسكان والتعمير</span></p>
          <p class="lead">الاستشارى : <span>شركة مدينة نصر للاسكان و التعمير</span></p>
          <p class="lead">الحاله التنفيذية : <span>جارى التنفيذ</span></p>
        </div>
      </div>
      <!-- End  Porject -->
      <hr>
      <!-- Start  Porject -->
      <div class="row mymargin">

          <div class="col-md">
            <div id="main_vedio">
                <div class="responsive">

                <iframe width="560" height="315" src="https://www.youtube.com/embed/yN9RHubrKd4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

              </div>
            </div>
          </div>

        <div class="col-md" id="mydata">
          <h2>عمارات وادى النيل</h2>
          <p class="lead">طبيعة المشروع : <span>انشاء</span></p>
          <p class="lead">الجهة المالكة : <span>شركة وادى النيل للمقاولات</span></p>
          <p class="lead">الاستشارى : <span>شركة وادى النيل للمقاولات</span></p>
          <p class="lead">الحاله التنفيذية : <span>جارى التنفيذ</span></p>
        </div>
      </div>
      <!-- End  Porject -->
      <hr>
      <!-- Start  Porject -->
      <div class="row mymargin">

          <div class="col-md">
            <div id="main_vedio">
                <div class="responsive">

                <iframe width="560" height="315" src="https://www.youtube.com/embed/yN9RHubrKd4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

              </div>
            </div>
          </div>

        <div class="col-md" id="mydata">
          <h2>عمارات اسكان الشباب بالمقطم</h2>
          <p class="lead">طبيعة المشروع : <span>انشاء</span></p>
          <p class="lead">الجهة المالكة : <span>شركة التعمير و الاستشارات الهندسية</span></p>
          <p class="lead">الاستشارى : <span>شركة التعمير و الاستشارات الهندسية</span></p>
          <p class="lead">الحاله التنفيذية : <span>جارى التنفيذ</span></p>
        </div>
      </div>
      <!-- End  Porject -->
      <hr>
      <!-- Start  Porject -->
      <div class="row mymargin">

          <div class="col-md">
            <div id="main_vedio">
                <div class="responsive">

                <iframe width="560" height="315" src="https://www.youtube.com/embed/yN9RHubrKd4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

              </div>
            </div>
          </div>

        <div class="col-md" id="mydata">
          <h2>مشروعات ابراج المعادى</h2>
          <p class="lead">طبيعة المشروع : <span>انشاء</span></p>
          <p class="lead">الجهة المالكة : <span>شركة الجيزة العامة للمقاولات و الاستثمار العقارى</span></p>
          <p class="lead">الاستشارى : <span>وزارة الدفاع الهيئة الهندسية</span></p>
          <p class="lead">الحاله التنفيذية : <span>جارى التنفيذ</span></p>
        </div>
      </div>
      <!-- End  Porject -->
      <hr>
      <!-- Start  Porject -->
      <div class="row mymargin">

          <div class="col-md">
            <div id="main_vedio">
                <div class="responsive">

                <iframe width="560" height="315" src="https://www.youtube.com/embed/yN9RHubrKd4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

              </div>
            </div>
          </div>

        <div class="col-md" id="mydata">
          <h2>انشاء برج النيل بحى غرب شبرا الخيمة</h2>
          <p class="lead">طبيعة المشروع : <span>انشاء</span></p>
          <p class="lead">الجهة المالكة : <span>جمعية تنمية ورعاية العاملين بحى غرب شبرا الخيمة</span></p>
          <p class="lead">الاستشارى : <span>مهندس استشارى عماد عبد العظيم رشوان</span></p>
          <p class="lead">الحاله التنفيذية : <span>جارى التنفيذ</span></p>
        </div>
      </div>
      <!-- End  Porject -->
      <hr>
      <!-- Start  Porject -->
      <div class="row mymargin">

          <div class="col-md">
            <div id="main_vedio">
                <div class="responsive">

                <iframe width="560" height="315" src="https://www.youtube.com/embed/yN9RHubrKd4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

              </div>
            </div>
          </div>

        <div class="col-md" id="mydata">
          <h2>فيلات وادى النيل</h2>
          <p class="lead">طبيعة المشروع : <span>انشاء</span></p>
          <p class="lead">الجهة المالكة : <span>شركة وادى النيل</span></p>
          <p class="lead">الاستشارى : <span>مكتب عمر الغنيمى</span></p>
          <p class="lead">الحاله التنفيذية : <span>جارى التنفيذ</span></p>
        </div>
      </div>
      <!-- End  Porject -->
      <hr>
      <!-- Start  Porject -->
      <div class="row mymargin">

          <div class="col-md">
            <div id="main_vedio">
                <div class="responsive">

                <iframe width="560" height="315" src="https://www.youtube.com/embed/yN9RHubrKd4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

              </div>
            </div>
          </div>

        <div class="col-md" id="mydata">
          <h2>انشاء برج سكنى ومول تجارى - بزهراء مدينة نصر</h2>
          <p class="lead">طبيعة المشروع : <span>انشاء</span></p>
          <p class="lead">الجهة المالكة : <span>الهيئة الهندسية للقوات المسلحة</span></p>
          <p class="lead">الاستشارى : <span>الهيئة الهندسية للقوات المسلحة</span></p>
          <p class="lead">الحاله التنفيذية : <span>جارى التنفيذ</span></p>
        </div>
      </div>
      <!-- End  Porject -->
      <hr>
      <!-- Start  Porject -->
      <div class="row mymargin">

          <div class="col-md">
            <div id="main_vedio">
                <div class="responsive">

                <iframe width="560" height="315" src="https://www.youtube.com/embed/yN9RHubrKd4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

              </div>
            </div>
          </div>

        <div class="col-md" id="mydata">
          <h2>اسكان اجتماعى عمارات بدر</h2>
          <p class="lead">طبيعة المشروع : <span>انشاء</span></p>
          <p class="lead">الجهة المالكة : <span>جهاز تعمير مدينة بدر</span></p>
          <p class="lead">الاستشارى : <span>جهاز تعمير مدينة بدر</span></p>
          <p class="lead">الحاله التنفيذية : <span>جارى التنفيذ</span></p>
        </div>
      </div>
      <!-- End  Porject -->
      <hr>
      <!-- Start  Porject -->
      <div class="row mymargin">

          <div class="col-md">
            <div id="main_vedio">
                <div class="responsive">

                <iframe width="560" height="315" src="https://www.youtube.com/embed/yN9RHubrKd4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

              </div>
            </div>
          </div>

        <div class="col-md" id="mydata">
          <h2>الاسكان الاجتماعى لمنطقة 6اكتوبر 11-13-20</h2>
          <p class="lead">طبيعة المشروع : <span>انشاء</span></p>
          <p class="lead">الجهة المالكة : <span>جهاز تعمير مدينة 6 اكتوبر</span></p>
          <p class="lead">الاستشارى : <span>جهاز تعمير مدينة 6 اكتوبر</span></p>
          <p class="lead">الحاله التنفيذية : <span>جارى التنفيذ</span></p>
        </div>
      </div>
      <!-- End  Porject -->
      <hr>
      <!-- Start  Porject -->
      <div class="row mymargin">

          <div class="col-md">
            <div id="main_vedio">
                <div class="responsive">

                <iframe width="560" height="315" src="https://www.youtube.com/embed/yN9RHubrKd4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

              </div>
            </div>
          </div>

        <div class="col-md" id="mydata">
          <h2>عمارات التعمير خاصة بشركة التعمير و الاستشارات الهندسية نموذج ب - ج</h2>
          <p class="lead">طبيعة المشروع : <span>انشاء</span></p>
          <p class="lead">الجهة المالكة : <span>شركة التعمير و الاستشارات الهندسية</span></p>
          <p class="lead">الاستشارى : <span>شركة التعمير و الاستشارات الهندسية</span></p>
          <p class="lead">الحاله التنفيذية : <span>جارى التنفيذ</span></p>
        </div>
      </div>
      <!-- End  Porject -->
      <hr>
      <!-- Start  Porject -->
      <div class="row mymargin">

          <div class="col-md">
            <div id="main_vedio">
                <div class="responsive">

                <iframe width="560" height="315" src="https://www.youtube.com/embed/yN9RHubrKd4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

              </div>
            </div>
          </div>

        <div class="col-md" id="mydata">
          <h2>اثنان وثلاثون عمارة اسكان بمدينة العبور</h2>
          <p class="lead">طبيعة المشروع : <span>انشاء</span></p>
          <p class="lead">الجهة المالكة : <span>وزارة الاسكان و المرافق و المجتمعات العمرانية هيئة المجتمعات العمرانية الجديده</span></p>
          <p class="lead">الاستشارى : <span>جهاز مدينة العبور</span></p>
          <p class="lead">الحاله التنفيذية : <span>جارى التنفيذ</span></p>
        </div>
      </div>
      <!-- End  Porject -->
      <hr>
      <!-- Start  Porject -->
      <div class="row mymargin">

          <div class="col-md">
            <div id="main_vedio">
                <div class="responsive">

                <iframe width="560" height="315" src="https://www.youtube.com/embed/yN9RHubrKd4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

              </div>
            </div>
          </div>

        <div class="col-md" id="mydata">
          <h2>انشاء فندق جاردنيا</h2>
          <p class="lead">طبيعة المشروع : <span>انشاء</span></p>
          <p class="lead">الجهة المالكة : <span>الهيئة الهندسية للقوات المسلحة ادارة المشروعات الكبرى</span></p>
          <p class="lead">الاستشارى : <span>الهيئة الهندسية للقوات المسلحة</span></p>
          <p class="lead">الحاله التنفيذية : <span>جارى التنفيذ</span></p>
        </div>
      </div>
      <!-- End  Porject -->
			<hr>
      <!-- Start  Porject -->
      <div class="row mymargin">

          <div class="col-md">
            <div id="main_vedio">
                <div class="responsive">

                <iframe width="560" height="315" src="https://www.youtube.com/embed/yN9RHubrKd4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

              </div>
            </div>
          </div>

        <div class="col-md" id="mydata">
          <h2>العمارات السكنية لمشروع زيزنيا المستقبل</h2>
          <p class="lead">طبيعة المشروع : <span>انشاء</span></p>
          <p class="lead">الجهة المالكة : <span>العاشر للتنمية و الاستثمار العقارى</span></p>
          <p class="lead">الاستشارى : <span>حسين صبور</span></p>
          <p class="lead">الحاله التنفيذية : <span>جارى التنفيذ</span></p>
        </div>
      </div>
      <!-- End  Porject -->
			<hr>
      <!-- Start  Porject -->
      <div class="row mymargin">

          <div class="col-md">
            <div id="main_vedio">
                <div class="responsive">

                <iframe width="560" height="315" src="https://www.youtube.com/embed/yN9RHubrKd4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

              </div>
            </div>
          </div>

        <div class="col-md" id="mydata">
          <h2>خمسة و عشرون عمارة بمدينة 6 اكتوبر</h2>
          <p class="lead">طبيعة المشروع : <span>انشاء</span></p>
          <p class="lead">الجهة المالكة : <span>وزارة الاسكان و المرافق و المجتمعات العمرانية هيئة المجتمعات العمرانية الجديده</span></p>
          <p class="lead">الاستشارى : <span>جهاز مدينة 6 اكتوبر</span></p>
          <p class="lead">الحاله التنفيذية : <span>جارى التنفيذ</span></p>
        </div>
      </div>
      <!-- End  Porject -->
			<hr>
			<!-- Start  Porject -->
			<div class="row mymargin">

					<div class="col-md">
						<div id="main_vedio">
								<div class="responsive">

								<iframe width="560" height="315" src="https://www.youtube.com/embed/yN9RHubrKd4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

							</div>
						</div>
					</div>

				<div class="col-md" id="mydata">
					<h2>ثلاثة واربعون عمارة بمدينة بدر</h2>
					<p class="lead">طبيعة المشروع : <span>انشاء</span></p>
					<p class="lead">الجهة المالكة : <span>وزارة الاسكان و المرافق و المجتمعات العمرانية هيئة المجتمعات العمرانية الجديده</span></p>
					<p class="lead">الاستشارى : <span>جهاز مدينة بدر</span></p>
					<p class="lead">الحاله التنفيذية : <span>جارى التنفيذ</span></p>
				</div>
			</div>
			<!-- End  Porject -->
			<hr>
			<!-- Start  Porject -->
			<div class="row mymargin">

					<div class="col-md">
						<div id="main_vedio">
								<div class="responsive">

								<iframe width="560" height="315" src="https://www.youtube.com/embed/yN9RHubrKd4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

							</div>
						</div>
					</div>

				<div class="col-md" id="mydata">
					<h2>ثمانية عشر عمارة بمدينة 6 اكتوبر</h2>
					<p class="lead">طبيعة المشروع : <span>انشاء</span></p>
					<p class="lead">الجهة المالكة : <span>وزارة الاسكان و المرافق و المجتمعات العمرانية هيئة المجتمعات العمرانية الجديده</span></p>
					<p class="lead">الاستشارى : <span>جهاز مدينة 6 اكتوبر</span></p>
					<p class="lead">الحاله التنفيذية : <span>جارى التنفيذ</span></p>
				</div>
			</div>
			<!-- End  Porject -->

	 	</div>
	</div>
{% endblock %}
