{% extends 'base.html' %}
{% load static %}

{% block custom_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/hosps.css' %}">
{% endblock %}

{% block content %}
	<div class="container body_color">

		<div class="container  projectDetails text-center">
      <h1 class="lead">تمتلك شركة التبارك سابقة اعمال فى مجال بناء و تطوير المدارس</h1>
      <i class="fas fa-school fa-4x"></i>
			<p><span>عدد المدارس : </span> 19 </p>
	 	</div>

	 	<hr>
	 	<!-- Start  Porject -->
	 	<div class="container">

	 		<!-- Start  Porject -->
	 		<div class="row mymargin">

					<div class="col-md">
						<div id="main_vedio">
				  			<div class="responsive">

				  			<iframe width="560" height="315" src="https://www.youtube.com/embed/yN9RHubrKd4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

							</div>
						</div>
					</div>

		 		<div class="col-md" id="mydata">
					<h2>مدرسة مهارات سوبر جلوبال بمدينة الشيخ زايد</h2>
					<p class="lead">طبيعة المشروع : <span>انشاء</span></p>
					<p class="lead">الجهة المالكة : <span>مدارس الاسراء للغات</span></p>
					<p class="lead">الاستشارى : <span>المهندس مجدي مطر</span></p>
					<p class="lead">الحاله التنفيذية : <span>تم التنفيذ</span></p>
				</div>
	 		</div>
	 		<!-- End  Porject -->
      <hr>
      <!-- Start  Porject -->
      <div class="row mymargin">

          <div class="col-md">
            <div id="main_vedio">
                <div class="responsive">

                <iframe width="560" height="315" src="https://www.youtube.com/embed/yN9RHubrKd4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

              </div>
            </div>
          </div>

        <div class="col-md" id="mydata">
          <h2>سابقة اعمال مدارس هيئة الابنية التعليمية</h2>
          <p class="lead">طبيعة المشروع : <span>انشاء</span></p>
          <p class="lead">الجهة المالكة : <span>هيئة الابنية التعليمية</span></p>
          <p class="lead">الاستشارى : <span>هيئة الابنية التعليمية</span></p>
          <p class="lead">الحاله التنفيذية : <span>تم التنفيذ</span></p>
        </div>
      </div>
      <!-- End  Porject -->
      <hr>
      <!-- Start  Porject -->
      <div class="row mymargin">

          <div class="col-md">
            <div id="main_vedio">
                <div class="responsive">

                <iframe width="560" height="315" src="https://www.youtube.com/embed/yN9RHubrKd4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

              </div>
            </div>
          </div>

        <div class="col-md" id="mydata">
          <h2>مدرسة الصنايع الزخرفية بالفيوم</h2>
          <p class="lead">طبيعة المشروع : <span>تطوير</span></p>
          <p class="lead">الجهة المالكة : <span>هيئة الابنية التعليمية</span></p>
          <p class="lead">الاستشارى : <span>هيئة الابنية التعليمية</span></p>
          <p class="lead">الحاله التنفيذية : <span>تم التنفيذ</span></p>
        </div>
      </div>
      <!-- End  Porject -->
      <hr>
      <!-- Start  Porject -->
      <div class="row mymargin">

          <div class="col-md">
            <div id="main_vedio">
                <div class="responsive">

                <iframe width="560" height="315" src="https://www.youtube.com/embed/yN9RHubrKd4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

              </div>
            </div>
          </div>

        <div class="col-md" id="mydata">
          <h2>إنشاء مدرسة أمجاد للتعليم الاساسي</h2>
          <p class="lead">طبيعة المشروع : <span>إنشاء</span></p>
          <p class="lead">الجهة المالكة : <span>هيئة الابنية التعليمية</span></p>
          <p class="lead">الاستشارى : <span>هيئة الابنية التعليمية</span></p>
          <p class="lead">الحاله التنفيذية : <span>تم التنفيذ</span></p>
        </div>
      </div>
      <!-- End  Porject -->
      <hr>
      <!-- Start  Porject -->
      <div class="row mymargin">

          <div class="col-md">
            <div id="main_vedio">
                <div class="responsive">

                <iframe width="560" height="315" src="https://www.youtube.com/embed/yN9RHubrKd4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

              </div>
            </div>
          </div>

        <div class="col-md" id="mydata">
          <h2>انشاء مدرسة الحى 16 بمدينة 6 اكتوبر</h2>
          <p class="lead">طبيعة المشروع : <span>انشاء</span></p>
          <p class="lead">الجهة المالكة : <span>جهاز تعمير القاهرة الاسلامية و الفاطمية-وزارة الاسكان</span></p>
          <p class="lead">الاستشارى : <span>الجهاز المركزى للتعمير-الادارة الهندسية</span></p>
          <p class="lead">الحاله التنفيذية : <span>تم التنفيذ</span></p>
        </div>
      </div>
      <!-- End  Porject -->
      <hr>
      <!-- Start  Porject -->
      <div class="row mymargin">

          <div class="col-md">
            <div id="main_vedio">
                <div class="responsive">

                <iframe width="560" height="315" src="https://www.youtube.com/embed/yN9RHubrKd4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

              </div>
            </div>
          </div>

        <div class="col-md" id="mydata">
          <h2>مدرسة ابنى بيتك</h2>
          <p class="lead">طبيعة المشروع : <span>انشاء</span></p>
          <p class="lead">الجهة المالكة : <span>هيئة الابنية التعليمية</span></p>
          <p class="lead">الاستشارى : <span>هيئة الابنية التعليمية</span></p>
          <p class="lead">الحاله التنفيذية : <span>تم التنفيذ</span></p>
        </div>
      </div>
      <!-- End  Porject -->
      <hr>
      <!-- Start  Porject -->
      <div class="row mymargin">

          <div class="col-md">
            <div id="main_vedio">
                <div class="responsive">

                <iframe width="560" height="315" src="https://www.youtube.com/embed/yN9RHubrKd4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

              </div>
            </div>
          </div>

        <div class="col-md" id="mydata">
          <h2>مدرسة الفيصلية</h2>
          <p class="lead">طبيعة المشروع : <span>انشاء</span></p>
          <p class="lead">الجهة المالكة : <span>هيئة الابنية التعليمية</span></p>
          <p class="lead">الاستشارى : <span>هيئة الابنية التعليمية</span></p>
          <p class="lead">الحاله التنفيذية : <span>تم التنفيذ</span></p>
        </div>
      </div>
      <!-- End  Porject -->
      <hr>
      <!-- Start  Porject -->
      <div class="row mymargin">

          <div class="col-md">
            <div id="main_vedio">
                <div class="responsive">

                <iframe width="560" height="315" src="https://www.youtube.com/embed/yN9RHubrKd4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

              </div>
            </div>
          </div>

        <div class="col-md" id="mydata">
          <h2>مدرسة حلمية الزيتون الثانوية بالقاهرة</h2>
          <p class="lead">طبيعة المشروع : <span>انشاء</span></p>
          <p class="lead">الجهة المالكة : <span>وزارة الدفاع-جهاز الخدمة الوطنية</span></p>
          <p class="lead">الاستشارى : <span>هيئة الابنية التعليمية</span></p>
          <p class="lead">الحاله التنفيذية : <span>تم التنفيذ</span></p>
        </div>
      </div>
      <!-- End  Porject -->
      <hr>
      <!-- Start  Porject -->
      <div class="row mymargin">

          <div class="col-md">
            <div id="main_vedio">
                <div class="responsive">

                <iframe width="560" height="315" src="https://www.youtube.com/embed/yN9RHubrKd4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

              </div>
            </div>
          </div>

        <div class="col-md" id="mydata">
          <h2>مدرسة السلام الاعدادية بنات قليوبية</h2>
          <p class="lead">طبيعة المشروع : <span>انشاء</span></p>
          <p class="lead">الجهة المالكة : <span>وزارة الدفاع-جهاز الخدمة الوطنية</span></p>
          <p class="lead">الاستشارى : <span>هيئة الابنية التعليمية</span></p>
          <p class="lead">الحاله التنفيذية : <span>تم التنفيذ</span></p>
        </div>
      </div>
      <!-- End  Porject -->
      <hr>
      <!-- Start  Porject -->
      <div class="row mymargin">

          <div class="col-md">
            <div id="main_vedio">
                <div class="responsive">

                <iframe width="560" height="315" src="https://www.youtube.com/embed/yN9RHubrKd4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

              </div>
            </div>
          </div>

        <div class="col-md" id="mydata">
          <h2>مدرسة ابتدائى بكفر النخلة</h2>
          <p class="lead">طبيعة المشروع : <span>انشاء</span></p>
          <p class="lead">الجهة المالكة : <span>وزارة الدفاع-جهاز الخدمة الوطنية</span></p>
          <p class="lead">الاستشارى : <span>هيئة الابنية التعليمية</span></p>
          <p class="lead">الحاله التنفيذية : <span>تم التنفيذ</span></p>
        </div>
      </div>
      <!-- End  Porject -->
      <hr>
      <!-- Start  Porject -->
      <div class="row mymargin">

          <div class="col-md">
            <div id="main_vedio">
                <div class="responsive">

                <iframe width="560" height="315" src="https://www.youtube.com/embed/yN9RHubrKd4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

              </div>
            </div>
          </div>

        <div class="col-md" id="mydata">
          <h2>مدرسة كفر رمادة للتعليم الاساسى</h2>
          <p class="lead">طبيعة المشروع : <span>انشاء</span></p>
          <p class="lead">الجهة المالكة : <span>وزارة الدفاع-جهاز الخدمة الوطنية</span></p>
          <p class="lead">الاستشارى : <span>هيئة الابنية التعليمية</span></p>
          <p class="lead">الحاله التنفيذية : <span>تم التنفيذ</span></p>
        </div>
      </div>
      <!-- End  Porject -->
      <hr>
      <!-- Start  Porject -->
      <div class="row mymargin">

          <div class="col-md">
            <div id="main_vedio">
                <div class="responsive">

                <iframe width="560" height="315" src="https://www.youtube.com/embed/yN9RHubrKd4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

              </div>
            </div>
          </div>

        <div class="col-md" id="mydata">
          <h2>مدرسة مجمع مبارك</h2>
          <p class="lead">طبيعة المشروع : <span>انشاء</span></p>
          <p class="lead">الجهة المالكة : <span>هيئة الابنية التعليمية</span></p>
          <p class="lead">الاستشارى : <span>هيئة الابنية التعليمية</span></p>
          <p class="lead">الحاله التنفيذية : <span>تم التنفيذ</span></p>
        </div>
      </div>
      <!-- End  Porject -->
      <hr>
      <!-- Start  Porject -->
      <div class="row mymargin">

          <div class="col-md">
            <div id="main_vedio">
                <div class="responsive">

                <iframe width="560" height="315" src="https://www.youtube.com/embed/yN9RHubrKd4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

              </div>
            </div>
          </div>

        <div class="col-md" id="mydata">
          <h2>مدرسة عصام ناجى</h2>
          <p class="lead">طبيعة المشروع : <span>انشاء</span></p>
          <p class="lead">الجهة المالكة : <span>هيئة الابنية التعليمية</span></p>
          <p class="lead">الاستشارى : <span>هيئة الابنية التعليمية</span></p>
          <p class="lead">الحاله التنفيذية : <span>تم التنفيذ</span></p>
        </div>
      </div>
      <!-- End  Porject -->
      <hr>
      <!-- Start  Porject -->
      <div class="row mymargin">

          <div class="col-md">
            <div id="main_vedio">
                <div class="responsive">

                <iframe width="560" height="315" src="https://www.youtube.com/embed/yN9RHubrKd4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

              </div>
            </div>
          </div>

        <div class="col-md" id="mydata">
          <h2>مدرسة طلعت حرب</h2>
          <p class="lead">طبيعة المشروع : <span>انشاء</span></p>
          <p class="lead">الجهة المالكة : <span>هيئة الابنية التعليمية</span></p>
          <p class="lead">الاستشارى : <span>هيئة الابنية التعليمية</span></p>
          <p class="lead">الحاله التنفيذية : <span>تم التنفيذ</span></p>
        </div>
      </div>
      <!-- End  Porject -->
      <hr>
      <!-- Start  Porject -->
      <div class="row mymargin">

          <div class="col-md">
            <div id="main_vedio">
                <div class="responsive">

                <iframe width="560" height="315" src="https://www.youtube.com/embed/yN9RHubrKd4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

              </div>
            </div>
          </div>

        <div class="col-md" id="mydata">
          <h2>مدرسة صفية زغلول</h2>
          <p class="lead">طبيعة المشروع : <span>انشاء</span></p>
          <p class="lead">الجهة المالكة : <span>هيئة الابنية التعليمية</span></p>
          <p class="lead">الاستشارى : <span>هيئة الابنية التعليمية</span></p>
          <p class="lead">الحاله التنفيذية : <span>تم التنفيذ</span></p>
        </div>
      </div>
      <!-- End  Porject -->
      <hr>
      <!-- Start  Porject -->
      <div class="row mymargin">

          <div class="col-md">
            <div id="main_vedio">
                <div class="responsive">

                <iframe width="560" height="315" src="https://www.youtube.com/embed/yN9RHubrKd4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

              </div>
            </div>
          </div>

        <div class="col-md" id="mydata">
          <h2>مدرسة تعليم اساسى بالحى الخامس مدينة بدر</h2>
          <p class="lead">طبيعة المشروع : <span>انشاء</span></p>
          <p class="lead">الجهة المالكة : <span>هيئة المجتمعات العمرانية</span></p>
          <p class="lead">الاستشارى : <span>هيئة المجتمعات العمرانية</span></p>
          <p class="lead">الحاله التنفيذية : <span>تم التنفيذ</span></p>
        </div>
      </div>
      <!-- End  Porject -->
      <hr>
      <!-- Start  Porject -->
      <div class="row mymargin">

          <div class="col-md">
            <div id="main_vedio">
                <div class="responsive">

                <iframe width="560" height="315" src="https://www.youtube.com/embed/yN9RHubrKd4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

              </div>
            </div>
          </div>

        <div class="col-md" id="mydata">
          <h2>مدرسة تعليم اساسى بالمجاورة الثالثة بالحى الثالث</h2>
          <p class="lead">طبيعة المشروع : <span>انشاء</span></p>
          <p class="lead">الجهة المالكة : <span>هيئة المجتمعات العمرانية</span></p>
          <p class="lead">الاستشارى : <span>هيئة المجتمعات العمرانية</span></p>
          <p class="lead">الحاله التنفيذية : <span>تم التنفيذ</span></p>
        </div>
      </div>
      <!-- End  Porject -->
      <hr>
      <!-- Start  Porject -->
      <div class="row mymargin">

          <div class="col-md">
            <div id="main_vedio">
                <div class="responsive">

                <iframe width="560" height="315" src="https://www.youtube.com/embed/yN9RHubrKd4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

              </div>
            </div>
          </div>

        <div class="col-md" id="mydata">
          <h2>مدرسة تعليم اساسى بالمجاورة الثانية بالحى الاول</h2>
          <p class="lead">طبيعة المشروع : <span>انشاء</span></p>
          <p class="lead">الجهة المالكة : <span>هيئة المجتمعات العمرانية</span></p>
          <p class="lead">الاستشارى : <span>هيئة المجتمعات العمرانية</span></p>
          <p class="lead">الحاله التنفيذية : <span>تم التنفيذ</span></p>
        </div>
      </div>
      <!-- End  Porject -->
      <hr>
      <!-- Start  Porject -->
      <div class="row mymargin">

          <div class="col-md">
            <div id="main_vedio">
                <div class="responsive">

                <iframe width="560" height="315" src="https://www.youtube.com/embed/yN9RHubrKd4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

              </div>
            </div>
          </div>

        <div class="col-md" id="mydata">
          <h2>مدرسة الحرية</h2>
          <p class="lead">طبيعة المشروع : <span>انشاء</span></p>
          <p class="lead">الجهة المالكة : <span>ادارة المهندسيين العسكريين</span></p>
          <p class="lead">الاستشارى : <span>ادارة المهندسين</span></p>
          <p class="lead">الحاله التنفيذية : <span>تم التنفيذ</span></p>
        </div>
      </div>
      <!-- End  Porject -->

	 	</div>
	</div>
{% endblock %}
